.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: all;
}

.modal.edit-task-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $main-purple;
  padding: 2rem;
  z-index: 1001;
  width: 80%;
  border-radius: 24px;
  max-width: 36rem;
  color: $white;
  display: flex;
  flex-direction: column;
}

.modal.edit-task-modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 1rem;
  width: initial;
  background-color: $main-purple;
}

.modal.create-task-modal .close-button:hover {
  background-color: initial;
}

.modal.edit-task-modal .modal-content {
  margin-top: 20px;
}

.modal.edit-task-modal .form-group {
  margin-bottom: 15px;
}

.modal.edit-task-modal label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.modal.edit-task-modal input[type="text"],
.modal.edit-task-modal input[type="datetime-local"],
.modal.edit-task-modal select,
.modal.edit-task-modal textarea {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 16px;
  border: none;
  background-color: $white;
  color: $dark-gray;
  font-family: Lato, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 40px;
}

.modal.edit-task-modal textarea {
  height: auto;
  min-height: 80px;
}

.modal.edit-task-modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}


.modal.edit-task-modal button[type="submit"] {
  margin-top: 10px;
  padding: 0.75em 1.25rem;
  background-color: $main-orange;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  width: initial;
}

.modal.edit-task-modal button[type="submit"]:hover {
  background-color: $dark-orange;
}
