.tasks-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
}

.tasks-section.tasks {
  width: 100%;
  background-color: violet;
  padding-bottom: 4rem;
}




.tasks-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  margin: 0.75rem; 
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 24px;
  cursor: pointer;
}

.tasks-item-checkbox {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // background-color: pink;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.tasks-item-checkbox:checked {
  background-color: #007bff;
  border-color: #000000;
}

.tasks-item-container .tasks-item-checkbox:checked + .tasks-item-text span {
  text-decoration: line-through;
  color: #442e2e; /* Optional: change color to indicate the task is completed */

}


.tasks-item-text {
  flex: 1;
}

.tasks-item-pills {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tasks-item-text-name {
  display: block;
  font-size: 1em;
  color: #333;
  margin-bottom: 0.25rem;
  text-align: start;
}

.tasks-item-text-description {
  display: block;
  font-size: 0.75em;
  color: #666; 
  text-align: start;
}

.tasks-item-pill {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  background-color: #e0e0e0;
  font-size: 0.75em;
  color: #fff; 
}

.priority-high {
  background-color: #ff4d4d; 
}

.priority-medium {
  background-color: #ffd700; 
  color: #000;
}

.priority-low {
  background-color: #90ee90;
  color: #000;
}

.tasks-item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tasks-item-actions > button,
.tasks-item-actions > div > button {
  height: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-item-actions > button:hover {
  background-color: #0056b3;
}











.bottom-controls-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}

.main-buttons, .additional-buttons, .menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.menu-toggle {
  width: 30%;
}

.main-buttons button, .additional-buttons button, .menu-toggle button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1.25rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  flex: 1;
}

.main-buttons button:hover, .additional-buttons button:hover, .menu-toggle button:hover {
  background-color: #0056b3;
}
