$white: #FAFAFA;
$light-gray: #eeeeee;
$medium-gray: #e0e0e0;


$dark-purple: #3A1B6A;
$main-purple: #604CC3;
$light-purple: #8E7CC3;
$very-light-purple: #D8BFD8;

$dark-orange: #CC5200;
$main-orange: #e26d1f;
$light-orange: #f19355;
$very-light-orange: #FFE5B4;

$dark-gray: #757575;
