
$white: #FAFAFA;
$light-gray: #eeeeee;
$medium-gray: #e0e0e0;


$dark-purple: #3A1B6A;
$main-purple: #5E1B89;
$light-purple: #9D71BC;

$dark-orange: rgb(235, 87, 29);
$main-orange: #F4512C;
$light-orange: #FF7F4D;

$dark-gray: #757575;
